@model IEnumerable<Common.OrderDetailsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDetail.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDetail.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDetail.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDetail.Address1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDetail.Address2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDetail.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDetail.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDetail.Pincode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDetails.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDetails.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDetails.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDetails.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDetails.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDetails.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SingleOrderDetail.DeliveredTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SingleOrderDetail.IsDelivered)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDetail.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDetail.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDetail.MobileNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDetail.MobileNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDetail.Address1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDetail.Address2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDetail.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDetail.Pincode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDetails.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDetails.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDetails.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDetails.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDetails.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDetails.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SingleOrderDetail.DeliveredTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SingleOrderDetail.IsDelivered)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
